[submodule "units"]
	path = src/units
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-Frontend-Units
[submodule "SubmitReview"]
	path = src/SubmitReview
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-Frontend-SubmitReview.git
