[submodule "src/search"]
	path = src/search
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-Search.git
	branch = component_only
[submodule "src/submit"]
	path = src/submit
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-SubmitReview.git
	branch = component_only
[submodule "src/units"]
	path = src/units
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-Frontend-Units.git
[submodule "src/display"]
	path = src/display
	branch = component_only
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-ReviewDisplays.git
